.header {
  display: flex;
  justify-content: center;
  margin: 40px;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    margin: 48px 0px 0px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 80px 0 0 165px;
  }
}
