.header {
  display: flex;
  margin: 40px;
  /* background-color: green; */
}

@media only screen and (max-width: 767px) {
  /* iPad */
  .header {
    display: flex;
    justify-content: center;
    margin: 40px;
    /* background-color: orange; */
  }
}

@media only screen and (max-width: 480px) {
  /* Mobile */
  .header {
    display: flex;
    justify-content: center;
    margin: 40px;
    /* background-color: purple; */
  }
}
