.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 124px;
  background-color: var(--clr-secondary-blue);
  border-radius: 40px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-right: 25px;
    width: auto;
  }
}
