.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 56px;
}

@media only screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .feature {
    display: inline-block;
    margin-left: 165px;
    width: 10%;
  }
}
