.paragraph {
  font-family: var(--ff-primary);
  color: var(--clr-secondary-grey);
  text-align: center;
  margin-top: 23px;
  width: 327px;
  font-size: 15px;
  line-height: 25px;
}

@media only screen and (min-width: 768px) {
  .paragraph {
    margin-top: 24px;
    width: 425px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .paragraph {
    margin-top: 24px;
    width: 520px;
    font-size: 15px;
    line-height: 25px;
  }
}
