.featuretitle {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  width: 327px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .featuretitle {
    text-align: left;
    margin-left: 50px;
  }
}
