.featuretext {
  color: var(--clr-secondary-grey);
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  margin-top: 11px;
  width: 327px;
}

@media only screen and (min-width: 768px) {
  .featuretext {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .featuretext {
    width: 154px;
  }
}
