* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Manrope", sans-serif;
}

:root {
  --clr-primary-mint: #3ee9e5;
  --clr-primary-black: #080c20;

  --clr-secondary-white: #ffff;
  --clr-secondary-grey: #777f98;
  --clr-secondary-blue: #093f68;

  --ff-primary: "Manrope", sans-serif;
  --ff-body: var(--clr-secondary-white);

  --fw-extralight: 200;
  --fw-normal: 500;
  --fw-extrabold: 800;
}

body {
  min-height: 100vh;
  background-color: var(--clr-primary-black);
  color: var(--clr-secondary-white);
}
