.icon {
  margin-top: 32px;
  margin-bottom: 144px;
}

@media only screen and (min-width: 768px) {
  .icon {
    margin-bottom: 161px;
  }
}

@media only screen and (min-width: 1440px) {
  .icon {
    margin-bottom: 272px;
  }
}
